<!DOCTYPE html>

<!-- skeleton for the design
<img scr''> # a source to an image of the album logo
<h1>Album title</h1> # album title
<h3>Artist</h3> # artist name
 the songs will be in a list
<ul>
    <li></li>
</ul>
-->

<img src={{album.album_logo}}> <!-- first we add the class 'Album' in lower case, then copy paste the objects name, -->
                               <!-- the models.py logo attribute, in the django identifier, squiggly brackets.      -->
<h1>{{album.album_title}}</h1> <!-- album title, constructed in the same fashion as above                           -->
<h2>{{ album.artist }}</h2>    <!-- artist name constructed in the same fashion as above                            -->

<!-- lesson 23 to catch user errors -->
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<!--Lesson 23 setup form selection list for favorite song-->
<form>action="{% url 'music:favorite' album.id %}" method='post'>
    {% csrf_token%}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name= 'song' value='{{song.id}}'>
        <!--create the label to display the song names-->
        <label>for="song{{ forloop.counter }}">
            {{ song.song_title }}
            <!-- add the star at the end of the song name when the user selects that particular song-->
            {% if song.is_favorite %}
                <img src='http://i.imgur.com/b9b13Rd.png' />
            {% endif %}
        </label><br>  <!--# break, so each song appears on a new line-->
    {% endfor %}
    <!--create a submit button, the value= is the displayed text on the button-->
    <input type='submit' value='submit favorite'>
</form>

<!-- Uncommented Lesson 23
{% comment %}
<ul>
    {% for song in album.song_set.all %}                    <!-- beginning of Django template language for loop     -->
        <li>{{song.song_title}} - {{song.file_types}}</li>  <!--  same structure as above but using the song class  -->
    {% endfor %}                                            <!-- end Django template language for loop              -->
</ul>

-->
<!--
# disabled in lesson 19
# {{ album }}
-->
{% endcomment %}