<!--L28 To include the base.html, with the navigation bar, template here -->
{% extends 'music/base.html' %}

<!-- Link the following code, so it begins after the base.html navigation code and links, ends. -->
{% block body %}

    <ul>
        <!-- Added lesson 20 and 21 dynamic link in the for statement -->
        {% for album in object_list %}
            <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
        {% endfor %}
        <!-- endfor is used to end for statement -->
    </ul>

    <!--L28 ends the block -->
{% endblock %}